.process-main{
  /*>.ant-page-header{
    padding-left: 16px;
    padding-right: 16px;
    .ant-page-header-footer{
      margin-top: 4px;
    }
  }
  .vben-page-wrapper-content{
    margin: 0!important;
  }*/

  /*.process{
    .vben-basic-table-form-container{
      .ant-form{
        margin-bottom:0;
      }
    }
    .flow-diagram-icon{
      cursor: pointer;
      color: @primary-8;
    }
  }*/
}
